			<div class="col-md-12">
			<div class="row">		
				<div class="col-md-2">
	                  <h4>  {{ modulename }} {% if modulename == 'KaikmediaGalleryModule' %} <small>{{ __('Default settings') }}</small> {% endif %}</h4>
				</div>
				<div class="col-md-10 text-right">
					{% if modulename == 'KaikmediaGalleryModule' %} {{ __('Gallery enabled')}} {% else %}<small>{{ __('Gallery features enabled')}}</small>{% endif %}
					<div class="btn-group btn-xs" data-toggle="buttons">
		                  <label class="btn btn-xs {% if modulesettings.gallery.enabled == '0' %}active btn-success {% else %} btn-success {% endif %}">
		                    <input type="radio" name="{{ modulename }}_gallery_enabled" id="option1" autocomplete="off" value="0" {% if modulesettings.gallery.enabled== '0' %}checked {% endif %}> {{ __('Off') }}
		                  </label>
		                  <label class="btn btn-xs {% if modulesettings.gallery.enabled == '1' %}active btn-success {% else %} btn-success {% endif %}">
		                    <input type="radio" name="{{ modulename }}_gallery_enabled" id="option2" autocomplete="off" value="1" {% if modulesettings.gallery.enabled == '1' %}checked {% endif %}> {{ __('On') }}
		                  </label>		                  
		            	<button class="btn btn-xs" data-toggle="collapse" data-target="#{{ modulename }}_features" {% if modulesettings.gallery.enabled == '0' %}disabled="disabled" {% endif %} ><i class="fa fa-cog"></i></button>		                  
		            </div>
	            </div>
            </div>
            </div>