				{# Feature public #}
				<div class="col-md-12 {% if settings.KaikmediaGalleryModule.public.enabled == '0' and modulename != 'KaikmediaGalleryModule' %}hide {% endif %}" style="margin-bottom:20px;">					
				  <div class="row">
					<div class="col-md-12 text-right">				
						<span>{{ __('Public gallery')}}</span>
						{# Feature user on/off#}	
						<div class="btn-group btn-xs" data-toggle="buttons">
			                  <label class="btn btn-xs {% if modulesettings.public.enabled == '0' %}active btn-primary {% else %} btn-primary {% endif %}">
			                    <input type="radio" name="{{ modulename }}_public_enabled" id="option1" autocomplete="off" value="0" {% if modulesettings.public.enabled == '0' %}checked {% endif %}> {{ __('Off') }}
			                  </label>
			                  <label class="btn btn-xs {% if modulesettings.public.enabled == '1' %}active btn-primary {% else %} btn-primary {% endif %}">
			                    <input type="radio" name="{{ modulename }}_public_enabled" id="option2" autocomplete="off" value="1" {% if modulesettings.public.enabled == '1' %}checked {% endif %}> {{ __('On') }}
			                  </label>
							 	<button class="btn btn-xs" data-toggle="collapse" data-target="#{{ modulename }}_feature_public" {% if settings.KaikmediaGalleryModule.public.enabled == '0' or modulesettings.public.enabled == '0' %}disabled="disabled" {% endif %} ><i class="fa fa-cog"></i></button>				                  
			            </div>													
					</div>	
												
					{# Feature public settings#}	
					<div id="{{ modulename }}_feature_public" class="col-md-12 collapse">				
					<div class="row bg-info">
						<div class="col-md-12" style="padding-top:5px;">																		

				            <div class="btn-xs form-group col-md-2 pull-right">
					            <label > {{ __('Per page') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_public_perpage" value="{% if modulesettings.public.perpage is defined %}{{ modulesettings.public.perpage }}{% endif %}">
				                </label>			                
				            </div>					            				
				            <div class="btn-xs form-group col-md-2 pull-right">	
					            <label > {{ __('Feature type') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_public_type" value="{% if modulesettings.public.type is defined %}{{ modulesettings.public.type }}{% endif %}">
				                </label>					                
				            </div>									            
	            		</div> 				
					  </div>	                  		                  		
            		</div> 		
					{# Feature public settings end #}	            		           				
				  </div>			  
				</div>				
				{# Feature public end #}	