 {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ getstatusmsg() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
 	
			
	<div class="form-group col-md-12">		
		<div class="col-md-12">{{ form_label(form.name) }} {{ form_widget(form.name, {'attr': {'class': ' input-sm' }}) }}</div>	
		<div class="col-md-12">{{ form_label(form.description) }}</div>
		<div class="col-md-12">{{ form_widget(form.description, {'attr': {'class': 'input-sm' }}) }}</div>					
		<div class="col-md-12">{{ form_label(form.legal) }}</div>
		<div class="col-md-12">{{ form_widget(form.legal, {'attr': {'class': 'input-sm' }}) }}</div>			
		<div class="col-md-12">{{ form_label(form.publicdomain) }} </div>
		<div class="col-md-12">{{ form_widget(form.publicdomain, {'attr': {'class': 'input-sm' }}) }}</div>
			
	</div>
	
	<div class="col-md-12 hide">
	    {{ form_label(form.file) }} 
	    {{ form_widget(form.file) }} 	    
	    {{ form_label(form.path) }}
	    {{ form_widget(form.path, {'attr': {'class': 'not-input' }}) }}	   
	</div>	
	
	
{{ form_end(form) }} 

	
