<ul class="row list-unstyled">
	{%for mediaItem in media %}
		<li tabindex="0" class="media-item selectable col-md-2" data-id="{{ mediaItem.original.id }}">
		 {% include "KaikmediaGalleryModule:Media:item.html.twig" with {'settings': settings, 'relation':false, 'original':mediaItem, 'css': ''}  %}	
		{#
		<a href="#" class="media-toggle btn hide item-toggle-{{ mediaItem.original.id }}" data-relation="{{ relation.id }}" data-original="{{ original.id }}" data-type="{{ relation.type }}">
					<i class="media-icon fa fa-check-circle fa-2x"></i>
		</a>	
		
		<a href="#" class="media-add btn hide item-add-{{ original.id }}" data-relation="{{ relation.id }}" data-original="{{ original.id }}" data-type="{{ relation.type }}">
					<i class="media-icon fa fa-plus fa-2x"></i>
		</a>
		#}	
		</li>
	{% else %}
		<li><p class="alert alert-warning text-center"> {{ __('No files found') }} </p></li>
	{% endfor %}           
</ul>