<div class="col-md-12">
    <h6>{{ __('Feature settings') }}</h6>
</div>
<div class="col-md-2">
    {{ form_label(feature.name) }}
    {{ form_widget(feature.name) }}
    {{ form_label(feature.type) }}
    {{ form_widget(feature.type) }}
    {{ form_label(feature.icon) }}   
    {{ form_widget(feature.icon) }}      
</div>
<div class="col-md-10">

    {% set upload_setting = feature.settings|first %}   
    {{ include('@KaikmediaGalleryModule/Form/Settings/upload.form.html.twig', {'setting': upload_setting })  }}

    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">{{ __('Mime type settins') }}</div>
            <div class="panel-body">
                {% for setting in feature.settings %}    
                    {% if loop.first %}
                    {% else %}    
                        {{ include('@KaikmediaGalleryModule/Form/Settings/mimetype.form.html.twig')  }}
                    {% endif%}
                {% endfor %}   
            </div>
        </div>    
    </div>
</div>               