{% extends 'KaikmediaGalleryModule:Base:admin.html.twig' %}
{% block header %}
    {% set settings='settings' %}
    {{ parent() }}
    {#{ pageAddAsset('stylesheet', zasset('@ZikulaIntercomModule:css/inbox.css')) }#}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-folder'></i>" %}
    {% set title=__('Gallery albums') %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="km_gallery_user_index" class="col-md-12 clearfix">    
        <div class="row">
            <div class="col-md-6">
                <h4>{{ __('Albums tree') }}</h4>
                <div id="kmgallery_albumTree"> 

                </div>
            </div>
            <div class="col-md-6">
                <div id="kmgallery_albumBox"> 
                    {% include "KaikmediaGalleryModule:Album:display.details.html.twig" %}  
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {#{ include('ZikulaIntercomModule:Base:modal.html.twig') }#}
    {#{ pageAddAsset('javascript', zasset('@ZikulaIntercomModule:js/Zikula.Intercom.inbox.manager.js')) }}
{% javascripts '@KaikmediaGalleryModule/Resources/public/js/Kaikmedia.Gallery.AlbumTree.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@KaikmediaGalleryModule/Resources/public/css/albums.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}    
    <script>
    (function($) {
            $(function(){
                Zikula.Intercom.InboxManager.init();  
            });
    })(jQuery);
    </script>
<script>
( function($) {
    $(document).ready(function(){
            KaikMedia.Gallery.AlbumTree.TreeData = {{ albumTree|json_encode|raw }};
    });
})(jQuery);
</script>    
    
    {#{ dump() }#}
{% endblock %}