<p> <br /> </p>
<div class="col-md-4">
    <a href="#" class="thumbnail">
      {% if file.path %}        
      <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/' ~ settings.upload_dir ~ '/' ~ file.path }}" />
      {% else %}
       <span class="fa fa-exclamation-triangle fa-2x"> <span/>
       {{ __('File path is empty!') }}           
      {% endif %}
    </a>
</div>        
<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
          <strong>{{ __('Media details') }}</strong>
      </div>
      <div class="panel-body">
    	  <p class=""> <strong> {{ __('Description:') }}</strong> {{ file.description }}</p>
    	  <p class=""> <strong> {{ __('Legal:') }}</strong> {{ file.legal }}</p>
      </div>
    </div>           
</div>
<div class="col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
                <strong>{{ __('Usage') }}</strong>
      </div>
      <div class="panel-body">
      {%for mappedto in file.mappedobjects %}
           <div class="row">
              <div class="col-md-3">
              {{ mappedto.obj_name }}
              </div>
              <div class="col-md-3">
              {{ mappedto.obj_id }}
              </div>
              <div class="col-md-3">
              
              </div>                            
              </div>
      {% else %}
              <p class="alert alert-warning text-center"> {{ __('Not used') }} </p>        
      {% endfor %}
      </div>
      </div>                          
</div>
<div class="col-md-12">
        <p class="text-center"> <strong> {{ __('Full path:') }}</strong> {{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/' ~ settings.upload_dir ~ '/' ~ file.path }}</p>                                    
</div>