 {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
 {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h3><span class="fa fa-sitemap"></span>
        {{ __('Media to objects mappin')}}
    </h3>
<div class="container-fluid">
    <div class="row">
	<div class="list-group col-md-12">
		<div class="list-group-item col-md-12" style="background: #d9edf7;">
                {{ getstatusmsg() }}
                {{ form_start(form) }}
                {{ form_errors(form) }}                    
                <div class="col-md-2">
                {{ form_widget(form.name) }}                    
                </div>
                <div class="col-md-1 pull-right text-right">                
                {{ form_widget(form.filter, {'attr': {'class': 'btn btn-sm btn-info'}}) }}
                </div>
                {{ form_end(form) }} 
		</div>
		<div class="list-group-item col-md-12" style="background: #eee;">
    			<div class="col-md-3">{{ __('Obj name')}}</div>
    		    <div class="col-md-1">{{ __('Obj id')}}</div>
    		    <div class="col-md-2">{{ __('Media')}}</div>
    			<div class="col-md-2">{{ __('Created')}}</div>
    		    <div class="col-md-2">{{ __('Author')}}</div>
    			<div class="col-md-1 pull-right text-right">{{ __('Options')}}</div>
		</div>
		{%for mediaobject in mediaobjmap %}
		<div class="list-group-item col-md-12">
    			<div class="col-md-3">
    				<a href="{{ path('kaikmediagallerymodule_admin_mediastore', {'page': mediaobject.id}) }}">{{ mediaobject.obj_name }}</a>
    			</div>
    			<div class="col-md-1">
    				{{ mediaobject.obj_id }}
    			</div>			
    			<div class="col-md-2">
    			    {{ mediaobject.media.id }}	
    			</div>
    			<div class="col-md-2">
    				<p class="list-group-item-text">{{ mediaobject.createdAt|date('d/m/Y') }}</p>
    			</div>			
    			<div class="col-md-2">
    				<p class="list-group-item-text">{{ mediaobject.author.uname }}</p>
    			</div>			
    			<div class="col-md-2 text-right">
    				<a href="{{ path('kaikmediagallerymodule_admin_mediastore', {'page': mediaobject.id}) }}"><i
    					class="fa fa-pencil"></i></a>
    				<a data-toggle="collapse" data-target="#mediaobject-details-{{ mediaobject.id }}"  href="#" > <i class="fa fa-angle-down fa-1x" title="{{  __('Read') }}"> </i></a> 			
    			</div>   			
    			<div id="mediaobject-details-{{ mediaobject.id }}" class="row collapse">
                {% include "KaikmediaGalleryModule:Admin:file.details.html.twig" with {'file': mediaobject.media, 'settings': settings} %}  
                </div>   			
		</div>
        {% else %}
        <div class="list-group-item col-md-12">
        <p class="alert alert-warning text-center"> {{ __('No mappings found') }} </p>
        </div>
        {% endfor %}
		<div class="list-group-item col-md-12" style="background: #eee;">
			{% if maxPages > 1 %}
			<ul class="pagination pagination-sm">
				{# `«` arrow #}
				<li  {{ thisPage == 1 ? 'class="disabled"' }}><a
					href="{{ path('kaikmediagallerymodule_admin_mediastore', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
				</li> {# Render each page number #} {% for i in 1..maxPages %}
				<li  {{ thisPage == i ? 'class="active"' }}><a
					href="{{ path('kaikmediagallerymodule_admin_mediastore', {page: i}) }}">{{
						i }}</a></li> {% endfor %} {# `»` arrow #}
				<li  {{ thisPage == maxPages ? 'class="disabled"' }}><a
					href="{{ path('kaikmediagallerymodule_admin_mediastore', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
	</div>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
