<div class="row">
    {% form_theme form with ['bootstrap_3_layout.html.twig', 'KaikmediaPagesModule:Form:radio.html.twig'] %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="list-group col-md-12">
        <div class="list-group-item col-md-12 clearfix hidden-xs hidden-sm" style="background: #eee;">
            <div class="col-md-3">{{ __('Module')}}</div>
            <div class="col-md-1 pull-right text-right"> {{ form_widget(form.save, {'attr': {'class': 'btn '}}) }}</div>
        </div>       

        {% for module in form.modules %}
            <div class="list-group-item col-md-12 clearfix "{#% if module.vars.value.enabled == '0' and modulename != 'KaikmediaGalleryModule' %}hide {% endif %}" {% if modulename == 'KaikmediaGalleryModule' %}style="background: #FFFAD5;"{% endif %#}>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">		
                                <div class="col-md-2">
                                    <h4>  {{ module.vars.value.name }} {% if module.vars.value.name == 'KaikmediaGalleryModule' %} <small>{{ __('Default settings') }}</small> {% endif %}</h4>
                                </div>
                                <div class="col-md-10 text-right">
                                    {% if module.vars.value.name == 'KaikmediaGalleryModule' %} {{ __('Gallery enabled')}} {% else %}<small>{{ __('Gallery features enabled')}}</small>{% endif %}
                                    <div class="btn-group btn-xs" data-toggle="buttons">
                                        <label class="btn btn-xs {% if module.vars.value.enabled == '0' %}active btn-success {% else %} btn-success {% endif %}">
                                            <input type="radio" name="{{ module.vars.value.name }}_gallery_enabled" id="option1" autocomplete="off" value="0" {% if module.vars.value.enabled== '0' %}checked {% endif %}> {{ __('Off') }}
                                        </label>
                                        <label class="btn btn-xs {% if module.vars.value.enabled == '1' %}active btn-success {% else %} btn-success {% endif %}">
                                            <input type="radio" name="{{ module.vars.value.name }}_gallery_enabled" id="option2" autocomplete="off" value="1" {% if module.vars.value.enabled == '1' %}checked {% endif %}> {{ __('On') }}
                                        </label>		                  
                                        <button class="btn btn-xs" data-toggle="collapse" data-target="#{{ module.vars.value.name }}_features" {% if module.vars.value.enabled == '0' %}disabled="disabled" {% endif %} ><i class="fa fa-cog"></i></button>		                  
                                    </div>
                                </div>
                            </div>
                        </div>                   
                        <div class="col-xs-12 col-md-3">{{ form_widget(module.enabled,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}
                        </div> 
                        <div id="{{ module.vars.value.name }}_features" class="col-md-12 collapse">


                            {% for feature in module.features %}  


                                {# Feature icon #}
                                <div class="col-md-12 {% if feature.vars.value.enabled == '0' and module.vars.value.name != 'KaikmediaGalleryModule' %}hide {% endif %}" style="margin-bottom:20px;">					
                                    <div class="row">
                                        <div class="col-md-12 text-right">				
                                            <span>{{ __('Icon feature')}}</span>
                                            {# Feature icon on/off#}	
                                            <div class="btn-group btn-xs" data-toggle="buttons">
                                                <label class="btn btn-xs {% if feature.vars.value.enabled == '0' %}active btn-primary {% else %} btn-primary {% endif %}">
                                                    <input type="radio" name="{{ module.vars.value.name }}_{{ feature.vars.value.name }}_enabled" id="option1" autocomplete="off" value="0" {% if feature.vars.value.enabled == '0' %}checked {% endif %}> {{ __('Off') }}
                                                </label>
                                                <label class="btn btn-xs {% if feature.vars.value.enabled == '1' %}active btn-primary {% else %} btn-primary {% endif %}">
                                                    <input type="radio" name="{{ module.vars.value.name }}_{{ feature.vars.value.name }}_enabled" id="option2" autocomplete="off" value="1" {% if feature.vars.value.enabled == '1' %}checked {% endif %}> {{ __('On') }}
                                                </label>
                                                <button class="btn btn-xs" data-toggle="collapse" data-target="#{{ module.vars.value.name }}_feature_{{ feature.vars.value.name }}" {% if feature.vars.value.enabled == '0' %}disabled="disabled" {% endif %} ><i class="fa fa-cog"></i></button>			                  
                                            </div>	
                                        </div>	

                                        {# Feature icon settings#}	
                                        <div id="{{ module.vars.value.name }}_feature_{{ feature.vars.value.name }}" class="col-md-12 collapse">					
                                            <div class="row bg-info">

                        <div class="col-xs-12 col-md-3">{{ form_widget(feature.enabled,
			{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}
                        </div> 
                                            </div>	                  		                  		
                                        </div> 		
                                        {# Feature icon settings end #}	            		           				
                                    </div>			  
                                </div>
                                {# Feature icon end #}	                               

                            {% endfor %}  
                        </div> 
                    </div>    
                </div>   
            </div>            
        {% endfor %}   
    </div>        
    {{ form_end(form) }}
</div>