{% extends 'KaikmediaGalleryModule:Base:admin.html.twig' %}
{% block header %}
    {% set settings={} %}
    {{ parent() }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-wrench'></i>" %}
    {% set title=__('Gallery settings and features') %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',

    'KaikmediaGalleryModule:Form:radio.html.twig',
    'KaikmediaGalleryModule:Form:hooks.widget.html.twig',
    'KaikmediaGalleryModule:Form:providers.widget.html.twig',
    'KaikmediaGalleryModule:Form:subscribers.widget.html.twig',
    'KaikmediaGalleryModule:Form/Providers/MainMediaProvider:mainmedia.widget.html.twig',
    'KaikmediaGalleryModule:Form/Providers/GalleryProvider:gallery.widget.html.twig'

] %}

{#    'KaikmediaGalleryModule:Form/Providers/MediaProvider:media.widget.html.twig',#}
<div id="km_gallery_admin_settings">
    {{ showflashes() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">{{ __('General settings') }}</a></li>
        <li role="presentation"><a href="#hooks" aria-controls="hooks" role="tab" data-toggle="tab">{{ __('Hooks settings') }}</a></li>
    </ul>
    <div class="tab-content">
        <!-- General -->
        <div role="tabpanel" class="tab-pane active" id="general">
            <div class="col-md-12">
                <p class="col-md-12 help-block alert ">
                    {{ __("If the 'Gallery is accessible to visitors' setting is deactivated then only administrators will have access to the gallery. You can temporarily deactivate this setting to take the gallery off-line when you need to perform maintenance.")}}
                </p>
            </div>
            <fieldset>
                <legend>{{ __("General settings")}}</legend>
                <div class="form-group">
                    {{ form_label(form.gallery_enabled, __('Gallery is accesible to visitors') ,{ 'label_attr': {'class': 'col-md-4'} }) }}
                    <div class="col-md-8">
                        {{ form_widget(form.gallery_enabled, {'attr': {'class': 'btn btn-primary radio-inline' }}) }}
                        {{ form_errors(form.gallery_enabled) }}
                        <p class="col-md-12 help-block alert alert-info pull-right">
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.gallery_disabled_info, __('Message displayed if gallery is disabled'), { 'label_attr': {'class': 'col-md-4'} }) }}
                    <div class="col-md-8">
                        {{ form_widget(form.gallery_disabled_info, { 'attr': {'class': ''} }) }}
                        {{ form_errors(form.gallery_disabled_info) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.upload_dir, __('Top Upload directory') ,{ 'label_attr': {'class': 'col-md-4'} }) }}
                    <div class="col-md-8">
                        {{ form_widget(form.upload_dir, {'attr': {'class': '' }}) }}
                        {{ form_errors(form.upload_dir) }}
                        <p class="col-md-12 help-block alert {% if is_writeable %}alert-success{% else %}alert-danger{% endif %} pull-right">
                        {% if is_writeable %}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {% endif %}
                        {{ __('Directory:') }} {{ project_dir }}
                        {% if is_writeable %} {{ __('is writeable') }} {% else %} {{ __('is not writeable or does not exist') }}{% endif %}
                        </p>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- Hook -->
        <div role="tabpanel" class="tab-pane" id="hooks">
            <div class="col-md-12">
                <p class="col-md-12 help-block alert ">
                    {{ __("This is Dizkus hooks status it shows you current Dizkus hooks settings.")}}
                </p>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_widget(form.hooks, { 'attr': {'class': ''} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-6 col-md-8">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            {{ form_widget(form.restore, {'attr': {'class': 'btn btn-danger'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
