<div class="row">
    {% form_theme form with ['bootstrap_3_layout.html.twig', 'KaikmediaGalleryModule:Form:settings.radio.html.twig'] %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="list-group col-md-12">
        <div class="list-group-item col-md-12 clearfix hidden-xs hidden-sm" style="background: #eee;">
            <div class="col-md-3">{{ __('Module')}}</div>
            <div class="col-md-1 pull-right text-right"> {{ form_widget(form.save, {'attr': {'class': 'btn '}}) }}</div>
        </div>       
        {% for module in form.modules %}
            <div class="list-group-item col-md-12 clearfix "{#% if module.vars.value.enabled == '0' and modulename != 'KaikmediaGalleryModule' %}hide {% endif %}" {% if modulename == 'KaikmediaGalleryModule' %}style="background: #FFFAD5;"{% endif %#}>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">		
                                <div class="col-md-2">
                                    <h4>  {{ module.vars.value.name }} {% if module.vars.value.name == 'KaikmediaGalleryModule' %} <small>{{ __('Default settings') }}</small> {% endif %}</h4>
                                </div>
                                <div class="col-md-10 text-right">
                                    {% if module.vars.value.name == 'KaikmediaGalleryModule' %} {{ __('Gallery enabled')}} {% else %}<small>{{ __('Gallery features enabled')}}</small>{% endif %}                                   
                                    {{ form_widget(module.enabled, {'mode': 'module-switch','module': module.vars.value.name,'label_attr': {'class': 'btn btn-xs btn-success radio-inline' }}) }}
                                </div>
                            </div>
                        </div>     
                        <div id="{{ module.vars.value.name }}_features" class="col-md-12 collapse">
                            {% for feature in module.features %}  
                                <div class="col-md-12 {% if feature.vars.value.enabled == '0' and module.vars.value.name != 'KaikmediaGalleryModule' %}hide {% endif %}" style="margin-bottom:20px;">					
                                    <div class="row">
                                        <div class="col-md-12 text-right">				
                                            <span class="text-capitalize">{{ feature.vars.value.name }}</span> <span>  {{ __('feature')}}</span>
                                            {# Feature x on/off#}	
                                            {{ form_widget(feature.enabled, {'mode': 'feature-switch','module': module.vars.value.name,'feature': feature.vars.value.name ,'label_attr': {'class': 'btn btn-xs btn-primary radio-inline' }}) }}
                                        </div>	
                                        {# Feature x settings#}	
                                        <div id="{{ module.vars.value.name }}_feature_{{ feature.vars.value.name }}" class="col-md-12 collapse">					
                                            <div class="row bg-info">
                                                {{ include('@KaikmediaGalleryModule/Form/feature.'~ feature.vars.value.name ~'.form.html.twig') }}
                                            </div>	                  		                  		
                                        </div> 		
                                        {# Feature x settings end #}	            		           				
                                    </div>			  
                                </div>
                                {# Feature x end #}	                               

                            {% endfor %}  
                        </div> 
                    </div>    
                </div>   
            </div>            
        {% endfor %}   
    </div>        
    {{ form_end(form) }}
</div>