{% extends 'KaikmediaGalleryModule:Base:admin.html.twig' %}
{% block header %}
    {% set settings=settings %}
    {{ parent() }}
{% endblock %} 
{% block title %}
    {% set title_icon="<i class='fa fa-wrench'></i>" %}
    {% set title=__('Gallery settings and features') %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="km_gallery_admin_settings" class="col-md-12 clearfix">    
    {{ include('KaikmediaGalleryModule:Admin:settings.form.html.twig') }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.SettingsManager.js')) }}
    <script>
    (function($) {
            $(function(){
                KaikMedia.Gallery.SettingsManager.init();  
            });
    })(jQuery);
    </script>
{% endblock %}