			{# Feature icon #}
				<div class="col-md-12 {% if settings.KaikmediaGalleryModule.icon.enabled == '0' and modulename != 'KaikmediaGalleryModule' %}hide {% endif %}" style="margin-bottom:20px;">					
				  <div class="row">
					<div class="col-md-12 text-right">				
						<span>{{ __('Icon feature')}}</span>
						{# Feature icon on/off#}	
						<div class="btn-group btn-xs" data-toggle="buttons">
			                  <label class="btn btn-xs {% if modulesettings.icon.enabled == '0' %}active btn-primary {% else %} btn-primary {% endif %}">
			                    <input type="radio" name="{{ modulename }}_icon_enabled" id="option1" autocomplete="off" value="0" {% if modulesettings.icon.enabled == '0' %}checked {% endif %}> {{ __('Off') }}
			                  </label>
			                  <label class="btn btn-xs {% if modulesettings.icon.enabled == '1' %}active btn-primary {% else %} btn-primary {% endif %}">
			                    <input type="radio" name="{{ modulename }}_icon_enabled" id="option2" autocomplete="off" value="1" {% if modulesettings.icon.enabled == '1' %}checked {% endif %}> {{ __('On') }}
			                  </label>
							 <button class="btn btn-xs" data-toggle="collapse" data-target="#{{ modulename }}_feature_icon" {% if settings.KaikmediaGalleryModule.icon.enabled == '0' or modulesettings.icon.enabled == '0' %}disabled="disabled" {% endif %} ><i class="fa fa-cog"></i></button>			                  
			            </div>	
					</div>	
												
					{# Feature icon settings#}	
					<div id="{{ modulename }}_feature_icon" class="col-md-12 collapse">					
					<div class="row bg-info">
						<div class="col-md-12" style="padding-top:5px;">																		
				           
				            <div class="btn-xs form-group col-md-2 pull-right">			           					             
					            <label > {{ __('Width') }} 	
					            <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_width" value="{{ modulesettings.icon.width }}">
								</label>				            
					        </div>
					        
				            <div class="btn-xs form-group col-md-2 pull-right">	
					            <label > {{ __('Height') }} 	
					            <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_height" value="{{ modulesettings.icon.height }}">
					            </label>				            
					        </div>	            	

				            <div class="btn-xs form-group col-md-2 pull-right">				            		            
					            <label > {{ __('Allowed extensions') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_extensions" value="{% if modulesettings.icon.extensions is defined %}{{ modulesettings.icon.extensions }}{% endif %}">
				                </label>
					        </div>
					     	
					     	<div class="btn-xs form-group col-md-2 pull-right">	
					            <label > {{ __('Allowed mimetypes') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_mimetypes" value="{% if modulesettings.icon.mimetypes is defined %}{{ modulesettings.icon.mimetypes }}{% endif %}">
				                </label>			                
				            </div>	
				            	
				            <div class="btn-xs form-group col-md-2 hide pull-right">
					            <label > {{ __('Per page') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_perpage" value="{% if modulesettings.icon.perpage is defined %}{{ modulesettings.icon.perpage }}{% endif %}">
				                </label>
					        </div>
					            
				            <div class="btn-xs form-group col-md-2 pull-right">	
					            <label > {{ __('Media additional fields') }} 	
				                <input type="text" class="form-control input-sm" name="{{ modulename }}_icon_fields" value="{% if modulesettings.icon.fields is defined %}{{ modulesettings.icon.fields }}{% endif %}">
				                </label>					                
				            </div>								            
	            		</div> 				
					  </div>	                  		                  		
            		</div> 		
					{# Feature icon settings end #}	            		           				
				  </div>			  
				</div>
				{# Feature icon end #}	