{% block header %}
    {{ adminHeader() }}
    {{ pageAddAsset('stylesheet', zasset('@KaikmediaGalleryModule:css/style.css')) }}
    {{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.settings.js')) }}
    {% set formInitScript %}
        <script type="text/javascript">
            /* <![CDATA[ */
            (function ($) {
                $(document).ready(function () {
                        // initialise auto completion for user fields
                        KaikMedia.Gallery.settings.set({{ settings|json_encode|raw }});
                    });
                })(jQuery);
                /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}    
{% endblock %}
{% block title %}
      <h1>
       {{ title_icon|raw }} {{ title }}
        {{ pageSetVar('title', title) }}
      </h1>
       {{ showflashes() }}
{% endblock %} 
{% block content %}{% endblock %}
{% block footer %}
    {{ adminFooter() }}
{% endblock %}