<div id="km_gallery">
{% block header %}
{{ pageAddAsset('stylesheet', zasset('@KaikmediaGalleryModule:css/style.css')) }}
{{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.settings.js')) }}
<script>
(function($) {
	$(function(){
            Kaikmedia.Gallery.settings.set({{ settings|json_encode|raw }});  
	});
})(jQuery);
</script>
}
{% endblock %}
<section class="content-header">
{% block title %}
      <h1>
       {{ title_icon|raw }} {{ title }}
        {{ pageSetVar('title', title) }}
      </h1>
{% endblock %} 
</section> 
<div id="km_gallery_content">
{% block content %}       
{% endblock %}
</div>


{% block footer %}
{% endblock %}
</div>