{# empty Twig template #}
<div id="{{ feature_name }}_{{ index }}" class="{{ feature_css }} feature km-gallery">
    <div class="item">
            <div class="progress hide" style="height: 4px; margin:0px; padding:0px;">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="error-message alert alert-danger hide" role="alert">{{ __('Media upload failed!. Please try again.', 'kaikmediagallerymodule') }}</div>
            {% if feature_media %}
                <img src="{{ feature_media }}" />
            {% else %}
                <img class="hide" src="" />
            {% endif %}
    </div>
        <div class="feature-name text-center">{{ feature_title }}</div>
    <div class="actions btn-group btn-group-sm btn-group-justified" role="group">
            <a href="#"
               class="re-upload-action btn {% if feature_media %}{% else %} hide {% endif %}"
               data-handler="image"
               data-containerid="{{ feature.name }}_{{ index }}"
               data-feature="{{ feature.name }}"
               data-allowedMimeTypes="{{ feature.mimeTypes }}"
               data-singleFileMaxSize="{{ feature.singleFileMaxSize }}"
               data-prefix="{{ feature.prefix|default('') }}"
               data-dir="{{ feature.dir|default('') }}"
               > <i class="fa fa-plus" title="{{ __('Select different media', 'kaikmediagallerymodule') }}"> </i> {{ __('Change', 'kaikmediagallerymodule') }} </a>

            <a href="#"
               class="upload-action btn {% if feature_media %} hide {% else %}{% endif %}"
               data-handler="image"
               data-containerid="{{ feature.name }}_{{ index }}"
               data-feature="{{ feature.name }}"
               data-allowedMimeTypes="{{ feature.mimeTypes }}"
               data-singleFileMaxSize="{{ feature.singleFileMaxSize }}"
               data-prefix="{{ feature.prefix|default('') }}"
               data-dir="{{ feature.dir|default('') }}"
               > <i class="fa fa-plus" title="{{ __('Select media from your computer', 'kaikmediagallerymodule') }}"> </i> {{ __('Select', 'kaikmediagallerymodule') }} </a>

            <a href="#"
               class="remove-action btn {% if feature_media %}{% else %} hide {% endif %}"
               data-handler="image"
               data-containerid="{{ feature.name }}_{{ index }}"
               data-feature="{{ feature.name }}"
               data-allowedMimeTypes="{{ feature.mimeTypes }}"
               data-singleFileMaxSize="{{ feature.singleFileMaxSize }}"
               > <i class="fa fa-trash" title="{{ __('Remove', 'kaikmediagallerymodule') }}"></i> {{ __('Remove', 'kaikmediagallerymodule') }}
            </a>
    </div>
    <div class="relation-data">
       <input class="relation-data-media form-control input-sm hide"
              type="text"
              name="kmgallery_features[{{ index }}][media]"
              placeholder="{{ __('Media Id', 'kaikmediagallerymodule') }}"
              value="{{ feature_media_id }}"
              />
       <input class="relation-data-relation form-control input-sm hide"
              type="text"
              name="kmgallery_features[{{ index }}][relation]"
              placeholder="{{ __('Media Relation Id', 'kaikmediagallerymodule') }}"
              value="{{ feature_relation_id }}"
              />
       <input class="relation-data-title form-control input-sm {% if feature_media %}{% else %} hide {% endif %}"
              {% if feature.extra_title != '1' %} type="hidden" {% else %} type="text" {% endif %}
              name="kmgallery_features[{{ index }}][relationExtra][title]"
              placeholder="{{ __('Title', 'kaikmediagallerymodule') }}"
              value="{{ feature_extra_title }}"
              />
       <input class="relation-data-copyright form-control input-sm {% if feature_media %}{% else %} hide {% endif %}"
              {% if feature.extra_legal != '1' %} type="hidden" {% else %} type="text" {% endif %}
              name="kmgallery_features[{{ index }}][relationExtra][legal]"
              placeholder="{{ __('Copyright', 'kaikmediagallerymodule') }}"
              value="{{ feature_extra_legal }}"
              />
    </div>
</div>