{% for feature in config.features %}
    
    {% set feature_css=(feature.plugin_item_css is defined and feature.plugin_item_css is not empty)
                        ? feature.plugin_item_css
                        : 'col-xs-12 col-sm-6' %}
    {% set feature_media=(feature.relation.media is defined and feature.relation.media.mediaExtra.fileName is defined and feature.relation.media.mediaExtra.fileName is not empty)
                        ? ('/uploads/' ~ (feature.relation.media.mediaExtra.subdir is defined ? feature.relation.media.mediaExtra.subdir ~ '/' : '') ~ feature.relation.media.mediaExtra.fileName)|imagine_filter('dynamic', {"thumbnail": {"size": [700, 350] }})
                        : false %}
    {% set feature_relation_id=(feature.relation is defined and feature.relation is not null and feature.relation.id is defined )
                        ? feature.relation.id
                        : '' %}
    {% set feature_extra_title=(feature.relation.relationExtra is defined and feature.relation.relationExtra.title is defined and feature.relation.relationExtra.title is not empty)
                        ? feature.relation.relationExtra.title
                        : '' %}
    {% set feature_extra_legal=(feature.relation.relationExtra is defined and feature.relation.relationExtra.legal is defined and feature.relation.relationExtra.legal is not empty)
                        ? feature.relation.relationExtra.legal
                        : '' %}
           
    {% include "KaikmediaGalleryModule:Hook:_featureSelector.html.twig"
        with {
            'index'                 : loop.index0,
            'feature_name'          : feature.name,
            'feature_title'         : feature.title,
            'feature_css'           : feature_css,
            'feature_relation_id'   : feature_relation_id,
            'feature_media'         : feature_media,
            'feature_media_id'      : feature.relation.media is defined ? feature.relation.media.id : null,
            'feature_extra_title'   : feature_extra_title,
            'feature_extra_legal'   : feature_extra_legal,
            'feature'               : feature,
        }
    %}

{% endfor %}
<!-- /#kmgallery_plugin_container -->
{{ pageAddAsset('stylesheet', zasset('@KaikmediaGalleryModule:css/gallery.plugin.css')) }}
{{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.settings.js')) }}
{{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.Plugin.js')) }}
{{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/file-dialog.min.js')) }}

{#</div>#}
{# <img class="img-responsive" src="/web/uploads/logo.jpg"  {{ zasset('@KaikmediaGalleryModule:images/blank.png') }} />#}
{#{{ dump(config) }}#}
{# #}
{# feature.relation.relationExtra is defined and  #}
{#    {% set feature_css=(feature.relation.relationExtra.plugin_item_css is defined and feature.relation.relationExtra.plugin_item_css is not empty)
            ? feature.relation.relationExtra.plugin_item_css
            : 'col-xs-12 col-sm-6 col-md-4' %}#}
{#<div id="kmgallery_manager_container" class="clearfix">#}
{#{% set runtimeConfig = {"scale": {"dim": [200, 200] }} %}#}
{#{{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/Kaikmedia.Gallery.Manager.js')) }}#}