{%- block _media_relation_details_entry_widget -%}
    {% for child in form %} 
    {%- set vars = { 'display': value.display, 'field': value.name, 'previews': previews, 'attr':attr} -%}
    <div class="col-md-12">{{form_widget(form.name,vars)}}</div>    
	<div class="col-md-12">{{form_widget(form.value,vars)}}</div>			
    {% endfor %}
    {#{ dump() }#}
{%- endblock _media_relation_details_entry_widget -%}

{%- block _media_relation_details_entry_name_widget -%}
   	{% set type = 'hidden' %}
  	<label class="form-label text-capitalize">{{ value }}</label>
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock _media_relation_details_entry_name_widget -%}

{%- block _media_relation_details_entry_value_widget -%}
	{% if field == 'name' %}
		   {% set type = type|default('text') %}
		   <input type="{{ type }}"  {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
	{% elseif field == 'description' %}
		   {% set type = type|default('textarea') %}
		   <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% elseif field == 'legal' %}
		   {% set type = type|default('textarea') %}
		   <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>		   
	{% elseif field == 'alt' %}
		   {% set type = type|default('textarea') %}
		   <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% elseif field == 'preview' %}	
		   {#% set type = type|default('text') %#}	
			<select {{ block('widget_attributes') }}>
				    {% for name, label in previews %}
				    <option value="{{ name }}" {{ block('attributes') }}{% if name == value %} selected="selected"{% endif %}>{{ label }}</option>
					{% endfor %}
			</select>		   	
	{% else %}
		   {% set type = type|default('text') %}
		   <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
	{% endif %}
{%- endblock _media_relation_details_entry_value_widget -%} 	