{# empty Twig template #}
<div class="row" style="margin-left: -10px; margin-right:-10px;margin-bottom:0px;padding-top:7px;padding-bottom:7px;border-bottom:1px solid #d8d8d8;background-color: #f1f1f1;">
    <div class="col-md-2" >
        {{ form_widget(form.feature, { 'attr': {'class': '', 'placeholder': __('Feature name') } }) }}
    </div>
    <div class="col-md-2" >
        {{ form_widget(form.css, { 'attr': {'class': '', 'placeholder': __('Css class') } }) }}
    </div>
    <div class="col-md-1">
        {{ form_widget(form.width, { 'attr': {'class': '', 'placeholder': __('Width') } }) }}
    </div>
    <div class="col-md-1">
        {{ form_widget(form.height, { 'attr': {'class': '', 'placeholder': __('Height') } }) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(form.mode, { 'attr': {'class': 'btn btn-default radio-inline btn-xs'} }) }}
    </div>
    <div class="col-md-1">
        {{ form_widget(form.show_title, { 'attr': {'class': 'btn btn-default radio-inline btn-xs'} }) }}
    </div>
    <div class="col-md-1">
        {{ form_widget(form.show_legal, { 'attr': {'class': 'btn btn-default radio-inline btn-xs'} }) }}
    </div>
</div>
