<div class="col-md-12">
    <h6>{{ __('Feature settings') }}</h6>
</div>
<div class="col-md-2">
    {{ form_label(feature.name) }}
    {{ form_widget(feature.name) }}
    {{ form_label(feature.type) }}
    {{ form_widget(feature.type) }}
    {{ form_label(feature.icon) }}   
    {{ form_widget(feature.icon) }}      
</div>