{% block _settings_hooks_providers_entry_modules_entry_areas_entry_entry_features_widget %}
    {% spaceless %}
        {% set collection_id = 'collection' ~ random() %}
        <div class="box box-default">
            <div class="box-header with-border">
                <h4 class="box-title">{{ __('Features') }}</h4>
                <div class="row text-uppercase small" style="margin-left: -10px; margin-right:-10px;">
                    <div class="col-md-1" >
                        {{ __('Internal name') }}
                    </div>
                    <div class="col-md-1" >
                        {{ __('Display title') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Mime types') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Prefix') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('SubDir') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Max size MB') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Css') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Multiple') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Add title') }}
                    </div>
                    <div class="col-md-1">
                        {{ __('Add legal') }}
                    </div>
                    <div class="col-md-2 pull-right">
                        {{ __('Options') }}
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="{{ collection_id }}"
                    class="features-selector {{ collection_id }}"
                    style="margin-top:-10px;margin-bottom: 0px;"
                    data-allow-remove="1"
                    data-allow-add="1"
                    data-coll="{{ collection_id }}"
                    data-prototype-name="{{ form.vars.prototype.vars.name }}"
                    data-name-prefix="{{ form.vars.full_name }}"
                    data-prototype="
                    {% filter escape %}
                        {{ include('@KaikmediaGalleryModule/Form/feature.prototype.html.twig', { 'feature': form.vars.prototype }) }}
                    {% endfilter %}
                    "
                    >
                    {% for feature in form.children %}
                        {{ include('@KaikmediaGalleryModule/Form/feature.prototype.html.twig', { 'feature': feature }) }}
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">
                <div class="box-tools pull-right">
                    <a data-collection="{{ collection_id }}" class="collection-action collection-add btn btn-xs" title="{{ __('Add feature') }}">
                        {{ __('Add feature') }} <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
{#         {{ dump() }}#}
<!-- /.box -->
    {% endspaceless %}
    {{ pageAddAsset('javascript', zasset('@KaikmediaGalleryModule:js/jquery.collection.js')) }}
    <script>
        window.onload = function() {
            (function($) {
                $(function(){
                    $('.features-selector').collection({
                        min: 1,
                        allow_up: true,
                        allow_down: true,
                        add_at_the_end: true,
                        custom_add_location: true
                    });
                });
            })(jQuery);
        };
    </script>
{% endblock %}
