<div class="row">
    {{ form_widget(setting.name) }}
    {{ form_widget(setting.mimeType) }} 
    {{ form_widget(setting.handler) }}   
    <div class="col-md-3">
    {{ setting.vars.value.mimeType }}       
    </div>
    <div class="col-md-3">
    {{ setting.vars.value.handler }}       
    </div>   
    <div class="col-md-3">
    {{ form_widget(setting.enabled, {'label_attr': {'class': 'btn btn-xs btn-primary radio-inline' }}) }}    
    </div>
  </div>