{% set obj_settings = attribute(settings, obj_name) %}

<script>
( function($) {
            KaikMedia.Gallery.Settings = {{ obj_settings|json_encode|raw }};
            KaikMedia.Gallery.Settings.mode = '{{ mode|raw }}';
})(jQuery);
</script>
<input type="hidden" name="__upload_token" value="{{ csrf_token('media') }}">

<div id="kmgallery_plugin_selected_previews">
	  {% if obj_settings.icon.enabled %} 	 
	  <div id="kmgallery_plugin_selected_icon_preview" class="col-md-2 ">
		<h5><strong>{{ __('Icon') }}</strong></h5>		  
	  	<div class="row">				
		{% if icon is not empty %}
		        {% include "KaikmediaGalleryModule:Plugin:item.html.twig" with {'settings': settings, 'original':icon.original, 'relation': icon, 'css': 'col-md-12' } %}              
		{% else %}
		        {{ __('No icon selected') }} 
		{% endif %}		
		</div>		
      </div>             
	  {% endif %} 
	  {% if obj_settings.featured.enabled %} 	 
	  <div id="kmgallery_plugin_selected_featured_preview" class="col-md-4">
		<h5><strong>{{ __('Featured') }}</strong></h5>		  
	  	<div class="row">
		{% if featured is not empty %}
		        {% include "KaikmediaGalleryModule:Plugin:item.html.twig" with {'settings': settings, 'original':featured.original, 'relation': featured, 'css': 'col-md-12' } %}              
		{% else %}
		        {{ __('No featured media selected') }}
		{% endif %}	
		</div>							
      </div>             
	  {% endif %} 
	  {% if obj_settings.additional.enabled %} 	 
	  <div id="kmgallery_plugin_selected_additional_preview" class="col-md-6">
		<h5><strong>{{ __('Additional') }}</strong></h5>		  
	  	<div class="row">
		{% if additional is not empty %}    
		{%for additionalItem in additional %}
		{% if additionalItem is defined %} 			 
			 {% include "KaikmediaGalleryModule:Plugin:item.html.twig" with {'settings': settings, 'relation':additionalItem, 'original': additionalItem.original, 'css': 'col-md-6'} %}                  		
		{% endif %}	 
		{% endfor %}
		{% else %}
		        {{ __('No additional media selected') }}		     
		{% endif %}	
		</div>
      </div>             
	  {% endif %}  
</div>
		<div class="col-md-12 text-center">  
		<a href="#" data-toggle="modal" data-target="#kmgallery_plugin"> <i class="fa fa-picture-o"></i> {{ __('Manage media') }}</a>	
		</div> 
<div id="kmgallery_plugin" class="modal fade">
      <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
          <div class="modal-header" style="background:#E4F2FF;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>         
	          <ul id="kmgallery_plugin_mode" class="nav nav-pills">
	                <li role="presentation"  class="mode mode-info active">           
	                    <a id="kmgallery_plugin_info_pill" data-mode="info"  href="#kmgallery_plugin_info_box" aria-controls="kmgallery_plugin_info_box" role="tab" data-toggle="pill"><i class="fa fa-info-circle"></i> {{  __('Info') }}</a>
	                </li>                         	          
	            {% if obj_settings.icon.enabled %} 
	                <li role="presentation" class="mode mode-icon">           
	                    <a id="kmgallery_plugin_icon_pill" data-mode="icon"  href="#kmgallery_plugin_icon_box" aria-controls="kmgallery_plugin_icon_box" role="tab" data-toggle="pill"><i class="fa fa-file-image-o"> </i> {{  __('Icon') }}</a>
	                </li>                         
	            {% endif %}          
	            {% if obj_settings.featured.enabled %} 
	                <li role="presentation" class="mode mode-featured">           
	                    <a id="kmgallery_plugin_featured_pill" data-mode="featured"  href="#kmgallery_plugin_featured_box" aria-controls="kmgallery_plugin_featured_box" role="tab" data-toggle="pill"><i class="fa fa-image"> </i> {{  __('Featured media') }}</a>
	                </li>                         
	            {% endif %}  
	            {% if obj_settings.additional.enabled %} 
	                <li role="presentation" class="mode mode-additional">           
	                    <a id="kmgallery_plugin_additional_pill" data-mode="additional"  href="#kmgallery_plugin_additional_box" aria-controls="kmgallery_plugin_additional_box" role="tab" data-toggle="pill"><i class="fa fa-th-large"> </i> {{  __('Additional media') }}</a>
	                </li>                         
	            {% endif %}                           
	          </ul>                         
		</div>
		<div class="modal-body">                  
        <div class="row"> 
          	<div id="kmgallery_plugin_left_col" class="col-xs-2">  
          	<div class="tab-content">
	            <div role="tabpanel" class="tab-pane active" id="kmgallery_plugin_info_box">     
	                {% include "KaikmediaGalleryModule:Plugin:info.html.twig" %}                           
	            </div>          	
	            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_icon_box">     
	                {% include "KaikmediaGalleryModule:Plugin:icon.html.twig" %}                           
	            </div>
	            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_featured_box">     
	                {% include "KaikmediaGalleryModule:Plugin:featured.html.twig" %}                           
	            </div>            
	            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_additional_box">    
	                {% include "KaikmediaGalleryModule:Plugin:additional.html.twig" %}                           
	            </div>
          	</div>                                 
          	</div>                              
        	<div id="kmgallery_plugin_center_col" class="col-xs-8" >  
				<ul id="kmgallery_plugin_orgins" class="nav nav-tabs">
	            {% if obj_settings.user.enabled %} 
	                <li role="presentation" class="origins">           
	                    <a id="kmgallery_plugin_user_pill" data-origin="user" href="#kmgallery_plugin_user_box" aria-controls="kmgallery_plugin_user_box" role="tab" data-toggle="tab"><i class="fa fa-user"> </i> {{  __('Your media gallery') }}</a>
	                </li>                         
	            {% endif %}				
	            {% if obj_settings.public.enabled %} 
	                <li role="presentation" class="origins">           
	                    <a id="kmgallery_plugin_public_pill" data-origin="public" href="#kmgallery_plugin_public_box" aria-controls="kmgallery_plugin_public_box" role="tab" data-toggle="tab"><i class="fa fa-cloud"> </i> {{  __('Public media gallery') }}</a>
	                </li>                         
	            {% endif %}
	            {% if obj_settings.upload.enabled %} 
	                <li role="presentation" class="origins">           
	                    <a id="kmgallery_plugin_upload_pill" data-origin="upload" href="#kmgallery_plugin_upload_box" aria-controls="kmgallery_plugin_upload_box" role="tab" data-toggle="tab"><i class="fa fa-upload"> </i> {{  __('Upload media') }}</a>
	                </li>                         
	            {% endif %}  
				</ul>          
          		<div class="tab-content">
		            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_user_box">
		                {% include "KaikmediaGalleryModule:Plugin:user.html.twig" %}                     
		            </div>          		
		            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_public_box">                 
		                {% include "KaikmediaGalleryModule:Plugin:public.html.twig" %} 
		            </div>
		            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_upload_box">
		                {% include "KaikmediaGalleryModule:Plugin:upload.html.twig" %}                     
		            </div>
          		</div>              
          </div>          
          <div class="col-xs-2" id="kmgallery_plugin_selected_box">  
          		{% include "KaikmediaGalleryModule:Plugin:selected.html.twig" %}         
          </div>                      
          </div>         
          </div>         
          <div class="modal-footer" style="background:#E4F2FF;">       
            <button id="kmgallery_plugin_action_button" type="button" class="btn btn-primary" data-dismiss="modal" >{{  __('Save changes') }}</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->