<script>
( function($) {
    $(document).ready(function(){
            KaikMedia.Gallery.Settings = {{ settings|json_encode|raw }};
    });
})(jQuery);
</script>
{% set modulesettings = attribute(settings.obj_settings, obj_name) %}
<input type="hidden" name="__upload_token" value="{{ csrf_token('media') }}">
<a href="#" data-toggle="modal" data-target="#kmgallery_plugin"> <i class="fa fa-picture-o"></i> {{ __('Select images') }}</a>
<div id="kmgallery_plugin" class="modal fade">
      <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
          <div class="modal-header" style="background:#E4F2FF;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span class="fa fa-image"></span> {{  __('Media manager')}}</h4>
          </div>
          <div class="modal-body">                  
          <div class="row"> 
          <div id="kmgallery_plugin_left_col" class="col-xs-2">
          <div><h4>{{ __('Menu') }}</h4></div>  
          <ul class="nav nav-pills nav-stacked">
            {% if modulesettings.icon.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_icon_select_pill" href="#kmgallery_plugin_icon_select" aria-controls="kmgallery_plugin_icon_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Select icon') }}</a>
                </li>                         
            {% endif %}          
            {% if modulesettings.image.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_image_select_pill" href="#kmgallery_plugin_image_select" aria-controls="kmgallery_plugin_image_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Select image') }}</a>
                </li>                         
            {% endif %}  
            {% if modulesettings.media.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_media_select_pill" href="#kmgallery_plugin_media_select" aria-controls="kmgallery_plugin_media_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Select media') }}</a>
                </li>                         
            {% endif %}
            {% if modulesettings.public.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_public_select_pill" href="#kmgallery_plugin_public_select" aria-controls="kmgallery_plugin_public_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Public gallery') }}</a>
                </li>                         
            {% endif %}
            {% if modulesettings.user.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_user_select_pill" href="#kmgallery_plugin_user_select" aria-controls="kmgallery_plugin_user_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Your uploads') }}</a>
                </li>                         
            {% endif %}
            {% if modulesettings.upload.enabled %} 
                <li role="presentation">           
                    <a id="kmgallery_plugin_upload_select_pill" href="#kmgallery_plugin_upload_select" aria-controls="kmgallery_plugin_upload_select" role="tab" data-toggle="pill"><i class="fa fa-file"> </i> {{  __('Upload') }}</a>
                </li>                         
            {% endif %}                                                      
          </ul>              
          </div>                              
        <div id="kmgallery_plugin_center_col" class="col-xs-8" >       
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_icon_select">
               <div class="gallery_title"><h4>{{ __('Selected icon') }}</h4></div>       
                {% include "KaikmediaGalleryModule:Plugin:icon.html.twig" %}                           
            </div>
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_image_select">
               <div class="gallery_title"><h4>{{ __('Selected image') }}</h4></div>       
                {% include "KaikmediaGalleryModule:Plugin:image.html.twig" %}                           
            </div>            
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_media_select">
               <div class="gallery_title"><h4>{{ __('Selected media') }}</h4></div>       
                {% include "KaikmediaGalleryModule:Plugin:media.html.twig" %}                           
            </div>
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_public_select">
              <div class="gallery_title"><h4>{{ __('Public gallery') }}</h4> </div>                   
                {% include "KaikmediaGalleryModule:Plugin:public.html.twig" %} 
            </div>
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_user_select">
              <div class="gallery_title""><h4>{{ __('Your gallery') }}</h4></div> 
                {% include "KaikmediaGalleryModule:Plugin:user.html.twig" %}                     
            </div>
            <div role="tabpanel" class="tab-pane" id="kmgallery_plugin_upload_select">
              <div class="gallery_title""><h4>{{ __('Upload') }}</h4></div> 
                {% include "KaikmediaGalleryModule:Plugin:upload.html.twig" %}                     
            </div>
          </div>        
          </div>          
          <div id="kmgallery_plugin_right_col" class="col-xs-2">  
            <div><h4>{{ __('Image data') }}</h4></div> 
          {% include "KaikmediaGalleryModule:Plugin:info.html.twig" %}         
          </div>                      
          </div>         
          </div>         
          <div class="modal-footer">
          {{ __('Selected') }}          
            <button type="button" class="btn btn-default" data-dismiss="modal">{{  __('Done') }}</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 